
<div class="grid-main">

  <app-sidebar></app-sidebar>
  <!-- End SideBar -->
  <div class="container">
      <div>
         <h5>Buscar:</h5>
         <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
      <hr>
      <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae delectus quasi dolorum exercitationem incidunt atque, non tempore voluptate libero quis maxime ipsam totam, dolores quos saepe commodi reprehenderit vero sint.
      </div>
  </div>
</div>

